body {
  margin: 0;
  height: 100vh;             /* 占满整个视口高度 */
  display: flex;
  flex-direction: column;    /* 上下排列 */
  justify-content: center;    /* 垂直居中 */
  align-items: center;        /* 水平居中 */
  font-family: "Arial", sans-serif;
  background-color: #d3d3d3; /* 灰色背景 */
}

#subjectInput p, #instruction, #word, #feedback {
  color: black;
}

#subjectInput input {
  font-size: 20px;
  padding: 5px;
}

#subjectInput button, #downloadBtn {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}

#instruction {
  font-size: 28px;
  word-wrap: break-word;
  line-height: 1.8;      /* 行间距：1.8 倍字体高度 */
  text-align: center;
  margin-bottom: 50px;
}

#word {
  font-size: 48px;
  margin-bottom: 50px;
}

#feedback {
  font-size: 24px;
  line-height: 1.8;      /* 行间距：1.8 倍字体高度 */
  margin-top: 30px;
}
